<!-- Static Header -->
<div style="background: url(/images/background.webp)" class="jumbotron bg-cover text-white position-relative z-1">
    <%- include("./navbar.ejs") %>
        <div class="container py-5 text-center mobPositon">
            <br>
            <h1 class="display-4 font-weight-bold headerTitle">
                <%= headerTitle %>
            </h1>
            <br><br>
            <a href="/articles" role="button" class="btn btn-primary px-5 <%= display %>">See All Articles</a>
        </div>
</div>