<div class=" border-3 shadow p-3 m-4 bg-white rounded">
    <h1 class="text-center">
        <%= article.title %>
    </h1>
    <p class="mt-4">
        <%= article.details %>
    </p>
</div>
<h2 class="m-4">Writer : <%= article.user.firstName %> <%= article.user.lastName %></h2>