<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page not found</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/all.min.css">
    <link rel="stylesheet" href="/NotFound.css">
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/all.min.js"></script>
</head>

<body>
    <br>
    <h1>404 Error Page</h1>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
    </section>
<div class="container w-25">
        <a class="btn btn-primary text-capitalize px-3 py-2 d-block" href="/home">back to home</a>
</div>
</body>

</html>